html, body {
  font-size: 24px;
  padding: 36px;
  margin: 0;
}

ul { 
  margin: 0;
  padding-left: 0;
  background: lightgray;
}
li {
  list-style-type: none;
  display: inline-block;
  margin: 2rem;
}

a {
  padding: 1rem 2rem;
  background: white;
  border-radius: 2rem;
}